aiohttp==3.4.0
aiohttp-security==0.2.0
async-timeout==3.0.0
attrs==18.1.0
basicauth==0.4.1
chardet==3.0.4
idna==2.7
idna-ssl==1.1.0
multidict==4.3.1
PyYAML==5.1
six==1.11.0
voluptuous==0.11.5
yarl==1.2.6
